html,
body {
  height: 100%;
}


body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #610303;
  }



  .container{
    justify-content:center;
    display: flex;
    align-items:center;
    height: 100vh;
    font-size:40px;
    position:relative;
    width: 100vm;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


.inputBox{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }